/**
 * Name: boxed.css
 * Version: 1.0.0
 *	
 *	-
 *
 * This file contains an alternative styling to make the layout boxed. 
 * The boxed version also comes with a few background options that you can choose from.
 *
 */

/* ==========================================================================
   #General Layout 
   ========================================================================== */
	
	/**
	 * You can choose an alternative background
	 */
		 
	body { 
		background: #fff url(../images/bg-body21.png) no-repeat fixed top left;
	}
	
	#wrap { 
		width: 1120px; 
		margin: 0 auto; 
		 -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);  
			-moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);  
				 box-shadow: 0 0 6px rgba(0, 0, 0, 0.2); 
	}
	
	
/* ==========================================================================
   #Responsive
   ========================================================================== */

	@media only screen and (max-width: 1024px) {

		#wrap { 
			width:auto; 
			margin:0; 
		}

	}
